body
{
    background-color: rgba(29, 29, 29, 0.877);
    color: white;

}
.bandeau  {
    margin:-21px;
    height:50px;
    background-color:#64acff;
}
li {
    list-style:none !important;
    color:#FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
    }
     
    nav ul {
    background-color:#64acff;
    padding:0;
    margin:-21px;
    }
     
    nav ul li {
    list-style: none;
    line-height:auto;
    float:left;
    background-color:#64abfb;
    }
     
    nav ul li a {
    color:#FFF;
    padding:10px;
    font-size:20px;
    text-decoration:none;
    }
     
    li a:hover {
    border-bottom:3px #FFF solid;
    }
    nav ul li ul { display:none; } /* Rend le menu déroulant caché par défaut */
     
    nav ul li:hover ul { /* Affiche la dropNav au survol de la souris avec la class .drop */
    z-index:99999;
    display:list-item !important;
    position:absolute;
    margin-top:5px;
    margin-left:-10px;
    }
     
    nav ul li:hover ul li {
    float:none;
    }
.espace {
    height:20px;
    background-color: rgba(29, 29, 29, 0.877);
    
    }